<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pedido</title>
	<link href="/css/styles.css" rel="stylesheet" />
	<link href="/css/stylesProduct.css" rel="stylesheet" />
</head>

<body style="margin:0;padding: 0;">

	<div class="individual-body" style="width: 100vw;height: 100vh; display: flex;align-items: center;">

		<div class="formulario-administrar individual-info d-flex flex-column border p-3">

			<span th:text="'Producto:' + ${pedido.producto.nombre}"></span>
			<span th:text="'Precio individual:' + ${pedido.producto.precioDeVenta}"></span>
			<span th:text="'Cantidad comprada:' + ${pedido.cantidad}"></span>
			<span th:text="'Total a pagar:' + ${pedido.total}"></span>

			<span th:text="'Realizado por el cliente:' + ${pedido.user.username}"></span>


		</div>
	</div>

</body>

</html>