<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="/css/styles.css" rel="stylesheet" />
	<link href="/css/stylesProduct.css" rel="stylesheet" />
</head>

<body style="margin:0;padding: 0;">

	<div class="individual-body" style="width: 100vw;height: 100vh; display: flex;align-items: center;">

		<div class="formulario-administrar individual-info d-flex flex-column border p-3">

			<span th:text="${ordenDeCompra.cantidadAComprar}"></span>
			<span th:text="${ordenDeCompra.user.username}"></span>
			<span th:text="${user.username}"></span>

			
			
		</div>
	</div>

</body>

</html>