<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	 <link href="css/styles.css" rel="stylesheet" />
</head>

<body style="margin:0;padding: 0;">

	<div style=" background-color: blueviolet;width: 100vw;height: 100vh; display: flex;align-items: center;">
		<div style="width: 50%;height: 90%; background-color: black;margin: 0 2.5rem;">

		</div>
		<div style="width: 30%;height: 90%; background-color: lightcoral;margin:0 5rem">
			<div th:text="${producto.nombre}" class="portfolio-caption-heading"></div>
			<div th:text="${producto.precioDeVenta}" class="portfolio-caption-subheading text-muted">INSERTAR</div>
		</div>
	</div>

</body>

</html>