<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>VIBRAS - Compras Online</title>
	<link href="/css/styles.css" rel="stylesheet" />
	<link href="/css/stylesProduct.css" rel="stylesheet" />
</head>

<body style="margin:0;padding: 0;">

	<div th:include="/navbar/navbar.html::navbarGeneral"></div>

	<div class="nuevo-seccion">
		<div class="nuevo-container">

			<h3>Formulario para generar un nuevo producto:</h3>
			<form class="formulario-administrar d-flex flex-column border p-3" action="#" th:action="@{/producto/crear}"
				th:object="${nuevoProducto}" method="post">

				<p>

					<input type="hidden" th:field="${nuevoProducto.idProducto}" />
				</p>

				<p>
					Nombre del producto:
					<input required type="text" th:field="*{nombre}" />
				</p>
				<p>
					Costo del producto
					<input required type="number" th:field="*{costo}" />
				</p>
				<p>
					Precio de venta del producto
					<input required type="number" th:field="*{precioDeVenta}" />
				</p>
				<p>
					Descripción del producto:
					<input required type="text" th:field="*{descripcion}" />
				</p>
				<p>

					<input required type="hidden" th:field="*{habilitado}" th:value="false" />
				</p>


				<p>
					Punto mínimo de stock:
					<input type="number" required-min="1" name="puntoMinimo" />
				</p>


				<input type="submit" value="Generar nuevo producto" />
			</form>
		</div>
		</div>
		<div th:include="/footer/footer.html::footerGeneral"></div>
		<script>
			    // Capturar el cambio en el select
			    document.getElementById('idProducto').addEventListener('change', function() {
			        var idProducto = this.value; // Obtener el valor del idProducto seleccionado
			        // Construir la URL dinámica
			        var url = '/pedido/pedidosrealizados/' + idProducto;
			        // Actualizar el atributo href del enlace
			        document.getElementById('linkPedidos').setAttribute('href', url);
			    });
			</script>
</body>

</html>