#mainNav{
	background-color: rgb(61, 66, 75);
	border-bottom:1px solid rgb(128, 128, 128, 0.5);
}


/**CSS DEL PRODUCTO INDIVIDUAL**/
.individual-body {
    background-color: #373b44;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
}

.individual-container-info{
	background-color: #fff;
	display: flex;
	padding: 2rem;
	border-radius: 3rem;
	justify-content: center;
	align-items: center;
}

.individual-image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.individual-info {
    width: 50%;
    background-color: rgb(250, 255, 185);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 3rem;
	margin-left: 1rem;
}

.back-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 3rem;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}

.back-icon:hover {
    color: #61a3e3;
}

.individual-info-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    text-align: center;
    gap: 1rem;
}

.individual-info-precio {
	margin-top: 2rem;	
    display: flex;
	flex-direction: column;
    justify-content: center;
}

.input-quantity {
    width: 100px;
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
    background-color: #f5f5f5;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease;
    text-align: center;
}

.input-quantity:focus {
    border-color: #61a3e3;
    box-shadow: 0 0 5px rgba(97, 163, 227, 0.5);
}

.input-quantity::-webkit-inner-spin-button,
.input-quantity::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-quantity:hover {
    border-color: #61a3e3;
}

.individual-image img {
    border: 5px inset #000;
    border-radius: 50%;
	box-shadow: 0rem 0rem 1rem #161917;
 
}

.individual-image img:hover{
	animation: scaleAnimation 3s ease-in alternate;
}

@keyframes scaleAnimation {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1., 0.7);
    }
    100% {
        transform: scale(1, 1);
    }
}

.individual-image img:hover {
    transform: scale(1,0.7);
	transition: 1s;
}

.individual-nombre {
    font-size: 3rem;
}

.individual-precio {
    font-size: 2rem;
	text-align: center;
}

.boton-compra {
    padding: 0.5rem 5rem;
    background-color: #161917;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-compra:hover {
    background-color: #333;
}

/*********************************************************************************************************/
/**Administrar Producto**/
.administrar-seccion{
	background-color: #373b44;
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
}
.administrar-container{
	
	color: aliceblue;display: flex;flex-direction: column;gap:3rem;
}


/*********************************************************************************************************/

/**NUEVO Producto**/

.nuevo-seccion{
	background-color: #373b44;
	width: 100%;height: 100vh; display: flex;align-items: center;justify-content: center;
}

.nuevo-container{
	color: aliceblue;display: flex;flex-direction: column;gap:3rem;
}

/*********************************************************************************************************/


/**Lista de productos**/

.seccion-entera{
	background-color: #373b44;
	min-height: 100vh;
}

.seccion-entera-title{
	width: 100%;display: flex; flex-direction: column;justify-content: center;align-items: center;
	
}

.lista-card{
	min-width: 25%;
	min-height: 30rem;
	max-height: 30rem;
	
		
	background-color: #fff;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	display: flex;
	gap: 2rem;
	text-align: center;
	border-radius: 5px;
}

.lista-card-container{
	display: flex;
	justify-content: center;
	gap: 6rem;
	flex-wrap: wrap;
}



.section-botones {
	width: 60%; 
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 3rem;
}

.btn-agregar{width: 100%; display: flex; justify-content: center;margin-top: 2rem;}
.administrar-btn{
padding: 0.3rem 5rem;
background-color: #161917;
flex: 0 0 40rem;
text-align: center;
text-decoration: none;
padding: 1.2rem 5rem;
border-radius: 15rem;
font-size: 2rem;
}
.administar-boton1{

background-color: #fc5956;
color: #fff;
}

.administar-boton2{

background-color:#f8572d;
color: #fff;
}
.administar-boton3{

background-color:rgb(225, 164, 0);
color: #fff;
}
.administar-boton4{

background-color:#ff9934;
color: #fff;
}
