/**CSS DEL**/
.individual-body {
	background-color: #373b44;
}
.individual-image {
	width: 30%;
	height: 60%;
	margin-left:5rem;
	background-color:rgb(128, 128, 128) ;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.individual-info {
	width: 35%;
	height: 65%; 
	background-color:#fcffd9;
	margin:0 15rem;
	display:flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}

.individual-image img {
	border: 5px inset #000;
	border-radius: 50%;
	
}


.individual-nombre {
	font-size: 4rem;
}

.individual-precio{
	font-size: 2rem;
}

.boton-compra{
	padding: 0.5rem 5rem;
	background-color: #161917;
	color: white;
}

/**Lista de productos**/

.seccion_entera{
	background-color: #373b44;
	min-height: 100vh;
}

.lista-card{
	min-width: 25%;
	min-height: 30rem;
	max-width: 25%;
	max-height: 30rem;
	
	
	background-color: #fff;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	display: flex;
	gap: 2rem;
	text-align: center;
	border-radius: 5px;
}

.lista-card-container{
	display: flex;
	justify-content: center;
	gap: 6rem;
	flex-wrap: wrap;
}
