#mainNav {
	background-color: rgb(61, 66, 75);
	border-bottom: 1px solid rgb(128, 128, 128, 0.5);
}

.header-filtros{
	background-color: rgb(45, 49, 55);
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content:space-around;
	border-bottom:1px solid rgb(128, 128, 128, 0.5);
}

/**CSS DEL PRODUCTO INDIVIDUAL**/
.individual-odc-body {
	background-color: #373b44;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.formulario-administrar {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-width: 600px;
	width: 100%;
}

.detalle {
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.detalle span {
	font-weight: bold;
}

.detalle .valor {
	display: block;
	margin-top: 5px;
}

.btn-continuar {
	padding: 10px 20px;
	font-size: 16px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	
}

/*********************************************************************************************************/
/**NUEVA ODC**/
.nueva-odc-body {
	background-color: #373b44;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nueva-odc-container {
	color: #000;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	justify-content: center;
	align-items:center;
}


/*********************************************************************************************************/

/**Lista ODC**/

.seccion-entera{
	background-color: #373b44;
	min-height: 100vh;
}

.seccion-entera-title{
	width: 100%;display: flex; flex-direction: column;justify-content: center;align-items: center;
	
}

.lista-card {
    width: 25%; /* Tamaño fijo para cada card */
    min-width: 250px; /* Asegura que tenga un mínimo de ancho */
    min-height: 35rem;
    max-height: 30rem;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 2rem;
    text-align: center;
    border-radius: 5px;
}

.lista-card-container {
    display: flex;
    justify-content: center;
    gap: 2rem; /* Espacio entre las cards */
    flex-wrap: wrap; /* Envolver las cards cuando el espacio es insuficiente */
}



.section-botones {
	width: 60%; 
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 3rem;
}

.boton-ver {
    padding: 0.5rem 5rem;
    background-color: #161917;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  
}

/*********************************************************************************************************/