<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="/css/styles.css" rel="stylesheet" />
	<link href="/css/stylesProduct.css" rel="stylesheet" />
</head>

<body style="margin:0;padding: 0;">

	<div class="individual-body" style="width: 100vw;height: 100vh; display: flex;align-items: center;">

		<div class="formulario-administrar individual-info d-flex flex-column border p-3">
			
			<h2 class="text-center">Detalles del Lote</h2>

<!--PENDIENTE AGREGAR LAS FECHAS  -->
				<strong>Aceptado:</strong>
				<span th:text="${lote.aceptado} ? 'Si' : 'No'"></span>
				
				<strong>Orden de Compra:</strong>
				<div><strong>Cantidad:</strong> <span th:text="${lote.ordenDeCompra.cantidadAComprar}"></span></div>
				<div><strong>Producto:</strong> <span th:text="${lote.ordenDeCompra.stock.producto.nombre}"></span></div>
				<div><strong>Costo:</strong> <span th:text="${lote.ordenDeCompra.stock.producto.costo}"></span></div>

				<div><strong>Usuario:</strong> <span th:text="${lote.ordenDeCompra.user.username}"></span></div>
			
		</div>
	</div>

</body>

</html>